<ion-header>
  <ion-toolbar>
    <ion-title>
      Despertando...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="ion-content-despertar" class="animacao">
    <ion-card>  
      <ion-card-header>
        <ion-card-subtitle>{{alarme.data}} {{alarme.hora}}</ion-card-subtitle>
        <ion-card-title>{{alarme.nome}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{alarme.falarTexto}}
        <ion-button color="danger" size="large" expand="block" (click)="cancelar()">
          <ion-icon slot="start" name="close"></ion-icon> Cancelar
        </ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
