<ion-header>
  <ion-toolbar>
    <ion-title>
      Alarmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of listaHoraCerta">
    <ion-item>
      <ion-button slot="end" color="danger" (click)="excluirAlarme(item)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>{{item.data}} {{item.hora}}</ion-card-subtitle>
      <ion-card-title>{{item.nome}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item.falarTexto}}
      <div style="display: block; width: 100%; height: 0.5rem;" [ngStyle]="{'background-color': item.cor}"></div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="cadastrarHoraCerta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
